<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.hiaccounts">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".hinext.application.app.RealmApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon">
        <activity android:name=".hinext.application.activity.Activity_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hinext.restaurant.activity.Activity_RestraPayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.application.activity.AppIntroduction_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.application.activity.Activity_SignUp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.application.activity.Activity_Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.item.activity.Activity_ShowItemList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.company_setup.activity.Activity_CompanySubcription"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        `
        <activity
            android:name=".hinext.application.activity.NavigationDrawer_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.supplier.activity.Activity_Supplier"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.item.activity.Activity_AddItem"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.item.activity.Activity_ScannerCode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_InventorySubmenu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_ControlPanelSubmenu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.reports.activity.Activity_ReportSubmenu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_SalesAdvancePayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_SalesRecievePayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.customer.activity.Activity_Customer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_SalesDuplicateInvoices"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.checkout.activity.Activity_Checkout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.ActivityPurchase_AdvancePayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_SupplierPayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_PurchaseDuplicateInvoices"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_InventoryLocation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.contact.activity.Activity_Contact"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.contact.activity.Activity_AddContact"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.customer.activity.Activity_AddCustomer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.supplier.activity.Activity_AddSupplier"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.generaltransaction.activity.Activity_PurchasePayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.generaltransaction.activity.Activity_RecieptPayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_PaymentReceipt"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_SalesDuplicateSalesOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_SalesDuplicateSalesReturn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_SalesReturn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.supplier.activity.Activity_EditSupplier"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.customer.activity.Activity_EditCustomer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.tax.activity.Activity_TaxSubmenu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.tax.activity.Activity_Tax"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_Bank"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_Agent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_Country"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_EmailServer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_Currency"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_Employee"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_ExchangeRate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_Project"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_ShippingMethod"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_PaymentMethod"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_HsnCode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_CoSetup_SearchHsn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_User"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_ActMaintance_CreateAccount"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_OpeningBalance_Inventory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_OpeningBalance_Sales"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_OpeningBalance_Purchase"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_UserPermission"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_OpeningBalance_BalanceSheet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_PurchaseDuplicatePO"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_PurchaseDuplicatePRetrun"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.item.activity.Activity_EditItem"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.generaltransaction.activity.Activity_SelectAccount"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_PurchaseDuplicatePaymnetList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_SalesCheckout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.pos_printer.DeviceListActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.restaurant.activity.Activity_RestraPayment1"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.restaurant.activity.RestuarantActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_CreditNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_AddCreditNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_InvokeQuotation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_InvokeReceiveItem"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_ReturnReceiveItem"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_CreditNoteList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_PurchaseRecieveItemList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_PurchaseQuotationItemList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_InvokePurchaseOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_PurchaseInvoice_ReturnItem"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_InvokeSalesOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_InvokeSalesQuotation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_InvokeDeliveryOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_ReturnDeliveryOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_InvokeLoanDeliveryOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_ReturnLoanDeliveryOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_Printlist_SalesQuotation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_Printlist_SalesDeliveryOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_Printlist_SalesLoanDeliveryOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_Printlist_SalesProForma"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_Printlist_SalesAdvancedPayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_Printlist_SalesDebitNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_AddDebitNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_DebitNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_SalesReturnItemList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_PurchaseReturn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.generaltransaction.activity.Activity_PrintlistExpense"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.generaltransaction.activity.Activity_PrintlistReceipt"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_VersionControl"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_ServiceCharge"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_VersionControl_Permission"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_AddItemCommission"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_ISDN"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_UOMConverter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_Attribute"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_AttributeConfigurator"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_AddPaymentVoucher"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_AddLoyalty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_AddSalesDiscountConfiguration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_AddAdvanceDiscountConfiguration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_InventoryLocationTransfer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_AddAssests"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_EditAssests"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.crm.activity.Activity_CrmSubmenu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.crm.activity.Activity_AddLeads"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.crm.activity.Activity_ShowEmployeeList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.crm.activity.Activity_AddEvent"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_AddRedemption"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_Cart"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_State"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_UserConfigurator"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.inventory.activity.Activity_AddVoucher"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_Config_UserPermission1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.restaurant.activity.Activity_PrintList"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.restaurant.activity.Activity_SplitBill"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.restaurant.activity.Activity_RestuarentTable"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_DebitNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.purchase.activity.Activity_AddDebitNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_CreditNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.sales.activity.Activity_AddCreditNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.service.activity.Activity_InvoiceList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.service.activity.Activity_DeliveryList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.service.activity.Activity_RepairInvokeList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.service.activity.Activity_ReplaceList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.service.activity.Activity_ReplaceInvokeList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.controlpanel.activity.Activity_TableConfiguration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.application.activity.AwesomeSplash"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.restaurant.activity.Activity_PrintList_DailyReport"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hinext.restaurant.activity.Activity_printer_configurations"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".hinext.generaltransaction.activity.Activity_PrintlistJournalEntry" />
        <activity android:name=".hinext.reports.activity.Activity_CategoryList" />
        <activity android:name=".hinext.controlpanel.activity.Activity_Table" />
        <activity android:name=".hinext.controlpanel.activity.Activity_Chairs" />
        <activity android:name=".hinext.reports.mvpdagger2retrofitjava.mvp.RestuarantDayEndRegisterActivity"></activity>
    </application>

</manifest>